body {
    background-color: #222122;
}

.top-page {
    z-index: 1;
    position: fixed;
    height: 360px;
    background-color: #660066;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.bio {
    position: relative;
    padding-top: 200px;
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    /*background-color: black;*/
    width: 100%;
    vertical-align: central;
}

#background-img1 {
    width: 140%;
    height: 1300px;
    position: fixed;
    top: -100px;
    left: -100px;
    opacity: 0;
    background: url(image1.jpg) no-repeat center center;
    background-size: cover;
    animation: test 20s ease infinite;
    filter: blur(12px);
}

.bio-paragraph {
    padding: 10px;
    z-index: 4;
    position: relative;
    font-size: 150%;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    opacity: 0;
    /*background-color: grey;*/
    color: white;
    width: 60%;
    margin: 0 auto;
    word-wrap: break-word;
    animation: fadein 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    text-shadow: 1px 1px 4px black;
}

.bio-image {
    position: relative;
    z-index: 4;
    margin: 0 auto;
    width: 200px;
    height: 130px;
    vertical-align: central;
    opacity: 0;
    background: url(../img/logo.png) no-repeat;
    background-size: 200px, 130px, contain;
    animation: fadein_move 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    /*box-shadow: 1px 1px 4px black;*/
}

.button {
    background-color: transparent;
    border: none;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 0.6s;
    animation: fadein 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 4px black;
    text-shadow: 1px 1px 4px black;
}

    .button:hover {
        color: #222122;
        background-color: white;
    }

@media only screen and (min-width: 600) {
    /*tablets*/
    .bio-image {
        width: 300px;
        height: 200px;
        background-size: 300px, 200px, contain;
    }

    .button {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    /*desktop*/
    .bio-image {
        width: 300px;
        height: 200px;
        background-size: 300px, 200px, contain;
    }

    .bio-paragraph {
        font-size: 200%;
    }

    .top-page {
        height: 430px;
    }

    .button {
        font-size: 20px;
    }
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein_move {
    from {
        opacity: 0;
        top: 100px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: -200px;
        left: 0px;
    }

    99% {
        opacity: 0;
    }

    100% {
        top: 0px;
        left: -100px;
    }
}
